* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.nav-datetime {
  font-family: "Barriecito";
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  user-select: none;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-iten a {
  font-family: "Barriecito", serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
  transition: color 0.4s;
}

.nav-iten a:hover {
  color: var(--main-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 0.25rem;
}

.hamburger div {
  width: 2rem;
  height: 0.25rem;
  background-color: var(--text-color);
  border-radius: 0.125rem;
}

@media (max-width: 800px) {
  .hamburger {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 2rem;
    background: var(--bg-color);
    width: 150px;
    border-radius: 0.25rem;
    padding: 1rem;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-iten {
    margin-bottom: 1rem;
  }
}

/* Estilização do botão */
.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1rem;
  color: var(--second-bg-color);
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s ease;
  border: none;
  margin-top: 2rem; /* Adicionando espaço entre os ícones sociais e o botão */
}

.btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

/* Ícones das redes sociais */
.social-media {
  display: flex;
  justify-content: center; /* Centraliza os ícones no desktop */
  margin: 2rem 0; /* Adicionando espaço vertical entre os ícones sociais e o botão */
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--main-color);
  margin: 0 0.5rem; /* Ajusta o espaçamento entre os ícones no desktop */
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* Estilização da seção Home */
#home {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 10rem 2rem 2rem;
  margin: 0 auto;
}

.home-content .home-title {
  font-size: 2.75rem;
  font-weight: 700;
}

.home-content .home-text {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 31.25rem;
}

/* Ícones das redes sociais */
.social-media {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--main-color);
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

span {
  color: var(--main-color);
}

main figure .home-image {
  width: 100%;
  max-width: 30rem;
}

/* SEÇÃO ESTUDO */
.study {
  background-color: var(--second-bg-color);
}

.titles {
  text-align: center;
  padding: 5rem;
  font-size: 4rem;
}

.study .study-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.study .study-container .study-box {
  flex: 1;
  min-width: calc(33.333% - 2.5rem);
  background-color: var(--bg-color);
  border: 0.2rem solid var(--second-bg-color);
  border-radius: 2rem;
  text-align: center;
  margin: 0.5rem;
  padding: 2rem;
  transition: 0.5s ease;
}

.study .study-container .study-box:hover {
  transform: scale(1.02);
  border: 0.2rem solid var(--main-color);
}

.study .study-container .study-box i {
  font-size: 4rem;
  color: var(--main-color);
}

.study .study-container .study-box h3 {
  font-size: 2rem;
}

.study .study-container .study-box p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* SEÇÃO TREINAMENTO */
.training .training-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.container-training-school {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 1rem;
}

.training-school {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.training .training-container .training-content-box {
  flex: 1;
  min-width: calc(33.333% - 2rem);
  background-color: var(--bg-color);
  border: 0.1rem solid var(--main-color);
  border-radius: 1rem;
  padding: 2rem;
  transition: 0.5s ease;
  position: relative;
  text-align: center;
}

.training .training-container .training-content-box:hover {
  background-color: var(--main-color);
}

.training .training-container .training-content-box a {
  text-decoration: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.training .training-container .training-content-box i {
  font-size: 3rem;
  color: white;
}

/* SEÇÃO EXPERIÊNCIAS */
.experiences {
  background-color: var(--second-bg-color);
}

.container {
  padding: 20px 0;
}

.container h1 {
  text-align: center;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point {
  min-width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 100%;
  z-index: 2;
  border: 3px #333333 solid;
  position: relative;
  left: 1px;
}

.timeline ul li .content {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
}

.timeline ul li .date h4 {
  background-color: var(--second-bg-color);
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.timeline ul li .content h3 {
  padding: 10px 20px;
  background-color: var(--main-color);
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.timeline ul li .content p {
  padding: 10px 20px;
  background-color: var(--bg-color);
  margin-top: 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 50%;
  background-color: #333333;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 800px) {
  html,
  body {
    font-size: 15px;
  }

  .nav-list {
    flex-direction: column;
    gap: 1rem;
  }

  #home {
    flex-direction: column;
    text-align: center;
    padding: 5rem 2rem 2rem;
  }

  .home-content {
    margin-bottom: 2rem;
  }

  .social-media {
    justify-content: center; /* Centraliza os ícones nas visualizações por celular */
    margin-bottom: 1rem; /* Espaço entre os ícones sociais e o botão no celular */
  }

  .study .study-container,
  .training .training-container,
  .timeline ul {
    flex-direction: column;
  }

  .study .study-container .study-box,
  .training .training-container .training-content-box,
  .timeline ul li {
    min-width: 100%;
    margin-bottom: 2rem;
  }

  .timeline ul li .content,
  .timeline ul li .date {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .timeline ul li .date h4 {
    margin-bottom: 1rem;
  }

  .timeline::before {
    display: none;
  }
}

@media (max-width: 650px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  html,
  body {
    font-size: 10px;
  }
}
