* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

body {
  background-color: #1f242d;
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

header #navbar .nav-datetime {
  font-family: "Barriecito";
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  user-select: none;
}

header #navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: auto; /* Adiciona margem automática para empurrar a lista para a direita */
}

header #navbar .nav-list .nav-iten a {
  font-family: "Barriecito", serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}

header #navbar .nav-list .nav-iten a:hover {
  color: var(--main-color);
  transition: color 0.4s;
}

main {
  min-height: 100vh;
  padding: 10rem 0.5% 2rem;
}

/* SECTION HOME */
main #home {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

main .home-content .home-title {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 2.5rem;
}

main .home-content .home-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 31.25rem;
  margin-bottom: 0;
}

main .home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--main-color);
  margin: 2rem 1rem 2rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 4rem;
  font-size: 1rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s ease;
  border: none;
}

.btn:hover {
  box-shadow: none;
}

span {
  color: var(--main-color);
}

main figure .home-image {
  width: 100%;
  max-width: 30rem;
}
.study {
  background-color: var(--second-bg-color);
}
.titles {
  text-align: center;
  padding: 5rem;
  font-size: 4rem;
}

.study .study-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}
.study .study-container .study-box {
  flex: 1;
  min-width: calc(33.333% - 2.5rem);
  background-color: var(--bg-color);
  border: 0.2rem solid var(--second-bg-color);
  border-radius: 2rem;
  text-align: center;
  margin: 0.5rem;
  padding: 2rem;
  transition: 0.5s ease;
}

.study .study-container .study-box:hover {
  transform: scale(1.02);
  border: 0.2rem solid var(--main-color);
}

.study .study-container .study-box i {
  font-size: 4rem;
  color: var(--main-color);
}

.study .study-container .study-box h3 {
  font-size: 2rem;
}

.study .study-container .study-box h3 {
  font-size: 2rem;
}
.study .study-container .study-box p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* SEÇÃO TRAINING */
.training .training-container {
  display: flex;
  flex-wrap: wrap;
}

.container-training-school {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 3rem;
}
.training-school {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.training .training-container .training-content-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: calc(33.333% - 2.5rem);
  border: 0.1rem solid var(--main-color);
  margin: 1rem;
  padding: 1rem;
  padding-bottom: 5rem;
  position: relative;
}

.training .training-container .training-content-box a {
  align-self: flex-end;
  text-decoration: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.training .training-container .training-content-box i {
  font-size: 3rem;
  color: white;
}

.training .training-container .training-content-box:hover {
  background-color: var(--main-color);
  transition: 0.9s ease;
}

/* SEÇÃO EXPERIENCIAS */

.experiences {
  background-color: var(--second-bg-color);
}

.container {
  padding: 20px 0;
}

.container h1 {
  text-align: center;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point {
  min-width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 100%;
  z-index: 2;
  border: 3px #333333 solid;
  position: relative;
  left: 1px;
}

@media (max-width: 800px) {
  .point {
    min-width: 15px;
    height: 15px;
  }

  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  html,
  body {
    font-size: 14px;
  }

  .point {
    min-width: 12px;
    height: 12px;
  }
}

@media (max-width: 450px) {
  html,
  body {
    font-size: 10px;
  }

  p {
    padding: 10px !important;
  }
}

.timeline ul li .content {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
}

.timeline ul li .date h4 {
  background-color: var(--second-bg-color);
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.timeline ul li .content h3 {
  padding: 10px 20px;
  background-color: var(--main-color);
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.timeline ul li .content p {
  padding: 10px 20px;
  background-color: var(--bg-color);
  margin-top: 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 50%;
  background-color: #333333;
}
