* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

.tema-claro {
  --bg-color: #ffffff;
  --second-bg-color: #f0f0f0;
  --text-color: #000;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);  
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;  
}

.data-hora {
  font-family: "Barriecito", serif;
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 100;
  cursor: default;
}

.botao-tema {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: var(--main-color);
  color: var(--second-bg-color);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  transition: background 0.3s ease, color 0.3s ease;
}

.navbar a {
  font-family: "Barriecito", serif;
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.ativo {
  color: var(--main-color);
}

#icone-menu {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-home h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.conteudo-home h3:nth-last-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.conteudo-home h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.conteudo-home p {
  font-size: 1.6rem;
}

.redes-sociais a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.redes-sociais a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.botao {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.botao:hover {
  box-shadow: none;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
  background-color: var(--second-bg-color); /* Ajuste a cor de fundo aqui */
}

.imagem-home img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.img-perfil {
  max-width: 100%;
  height: auto;
  width: 180rem; /* Defina a largura desejada */
  transition: width 0.3s ease, border-radius 0.3s ease; /* Adicione uma transição suave */
  border-bottom-left-radius: 15px; /* Ajuste o valor conforme necessário */
  border-bottom-right-radius: 15px; /* Ajuste o valor conforme necessário */
}




.conteudo-sobre h2 {
  text-align: left;

  line-height: 5.2rem;
}

.conteudo-sobre h3 {
  font-size: 2.2rem;
}

.conteudo-sobre p {
  font-size: 1.6rem; 
  margin: 2rem 0 3rem;   
}

.estudos h2 {
  margin-bottom: 5rem;
}

.container-estudos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.container-estudos .estudos-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--bg-color);
  transition: .5s ease;
}
.container-estudos .estudos-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.estudos-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.estudos-box h3 {
  font-size: 2.2rem;
}

.estudos-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}