/* Redefine as margens, preenchimentos e tamanho da caixa para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", serif;
}

/* Definição das variáveis de cores e temas */
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

/* Estilo do corpo da página */
body {
  background-color: #1f242d;
  color: var(--text-color);
}

/* Estilo do cabeçalho */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

header #navbar .nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: auto;
  list-style: none;
}

header #navbar .nav-list .nav-iten a {
  text-decoration: none;
  font-family: "Barriecito", serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}

header #navbar .nav-datetime {
  font-family: "Barriecito";
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  user-select: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  font-size: 2rem;
}

.nav-list {
  display: flex;
}

.nav-list.active {
  display: block;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
  }

  .nav-list.active {
    display: flex;
  }
}

/* Estilo para o menu ícone */
.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .menu-icon {
    display: block;
    color: var(--text-color);
    font-size: 2rem;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
  }

  .nav-list.nav-active {
    display: flex;
  }
}

header #navbar .nav-list .nav-iten a {
  text-decoration: none;
  font-family: "Barriecito", serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}

header #navbar .nav-list .nav-iten a:hover {
  color: var(--main-color);
  transition: color 0.4s;
}

/* Estilo da área principal */
main {
  min-height: 100vh;
  padding: 10rem 0.5% 2rem;
}

/* SEÇÃO HOME */
main #home {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

main .home-content .home-title {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 2.5rem;
}

main .home-content .home-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 31.25rem;
  margin-bottom: 0;
}

main .home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--main-color);
  margin: 2rem 1rem 2rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* Botão PADRÃO */
.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 4rem;
  font-size: 1rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s ease;
  border: none;
}

.btn:hover {
  box-shadow: none;
}

span {
  color: var(--main-color);
}

main figure .home-image {
  width: 100%;
  max-width: 30rem;
}

/* SEÇÃO ESTUDO */
.study {
  background-color: var(--second-bg-color);
}

.titles {
  text-align: center;
  padding: 5rem;
  font-size: 4rem;
}

.study .study-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.study .study-container .study-box {
  flex: 1;
  min-width: calc(33.333% - 2.5rem);
  background-color: var(--bg-color);
  border: 0.2rem solid var(--second-bg-color);
  border-radius: 2rem;
  text-align: center;
  margin: 0.5rem;
  padding: 2rem;
  transition: 0.5s ease;
}

.study .study-container .study-box:hover {
  transform: scale(1.02);
  border: 0.2rem solid var(--main-color);
}

.study .study-container .study-box i {
  font-size: 4rem;
  color: var(--main-color);
}

.study .study-container .study-box h3 {
  font-size: 2rem;
}

.study .study-container .study-box p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* SEÇÃO TREINAMENTO */
.training .training-container {
  display: flex;
  flex-wrap: wrap;
}

.container-training-school {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 1rem;
}

.training-school {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.training .training-container .training-content-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: calc(33.333% - 2.5rem);
  border: 0.1rem solid var(--main-color);
  margin: 1rem;
  padding: 1rem;
  padding-bottom: 5rem;
  position: relative;
}

.training .training-container .training-content-box a {
  align-self: flex-end;
  text-decoration: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.training .training-container .training-content-box i {
  font-size: 3rem;
  color: white;
}

.training .training-container .training-content-box:hover {
  background-color: var(--main-color);
  transition: 0.9s ease;
}

/* SEÇÃO EXPERIÊNCIAS */
.experiences {
  background-color: var(--second-bg-color);
}

.container {
  padding: 20px 0;
}

.container h1 {
  text-align: center;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point {
  min-width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 100%;
  z-index: 2;
  border: 3px #333333 solid;
  position: relative;
  left: 1px;
}

.timeline ul li .content-timeline {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content-timeline {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content-timeline {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
}

.timeline ul li .date h4 {
  background-color: var(--second-bg-color);
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.timeline ul li .content-timeline h3 {
  padding: 10px 20px;
  background-color: var(--main-color);
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.timeline ul li .content-timeline p {
  padding: 10px 20px;
  background-color: var(--bg-color);
  margin-top: 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: justify;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 50%;
  background-color: #333333;
}

/* SEÇÃO CONTATO */
.contact h1 {
  text-align: center;
  padding: 5rem;
  font-size: 4rem;
}

.form-contact {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.form-contact .input-form-contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

.form-contact .input-form-contact input, textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: .8rem;
  border-color: var(--main-color);
  margin: .7rem 0;
}

.form-contact .input-form-contact input {
  width: 49%;
}

.form-contact textarea {
  resize: none;
}

.form-contact .btn {
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem 8rem; /* Adicionado ponto e vírgula */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
  
  
}

.footer-text {
  font-size: 1.5rem;
  color: var(--text-color);
}

.icon-top {
  position: fixed;
  bottom: 20px; /* Ajuste conforme necessário */
  right: 20px; /* Ajuste conforme necessário */
}

.icon-top a { 
  display: inline-flex;
  justify-content: center;
  font-size: 2.5rem;
  align-items: center;
  padding: .8rem;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.5s ease;
}

.icon-top a:hover {
  color: var(--main-color);
}
