body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
}
button {
  cursor: pointer;
  margin: 10px;
}

.numbers {
  background-color: aquamarine;
  border: 1px, gray;
  padding: 10px;
  list-style-type: none;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

.number {
  display: inline-block;
  margin: 15px;
  border: 1px solid darkorange;
  border-radius: 50%;
  width: 25px;
  padding: 5px;
  user-select: none;
  cursor: pointer;
}

.selected-number {
  background-color: orange;
}
